/* цвета:
розовый: #f082b8 
зеленый: #338852
мал точки в футере и конпки вперед-назад в тулзах: #564769*/


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* font-family: 'Inter', sans-serif; */
    background-color: #060612;
    color: #aca1c4;
    font-weight: 200;
}

svg {
    height: 18px;
    width: 18px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px;

    background: none;
    color: inherit;
    font: inherit;
    border: 1px solid transparent;

    transition: 0.5s;
}

button:hover,
.header-theme,
.active-button,
.preview-area h1,
.preview-area h2,
.preview-area h3,
.preview-area h4,
.preview-area h5,
.preview-area h6,
.preview-area em,
.preview-area ul li::marker,
.preview-area p a,
.preview-area p code,
.preview-area pre code {
    color: #f082b8;
}

    .app {
        background-color: #0b0917;
        box-shadow: 0 0 2px 1px #312540;
        border-radius: 12px;
        padding: 20px 14px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


        .header {
            display: flex;
            align-items: center;
        }

            .header-title {
                font-size: 24px;
                border-right: 1px solid #312540;
                padding: 0 20px;
                font-weight: 400;
                color: #eeeeee;
            }

            .header-theme {
                font-size: 20px;
                font-weight: 200;
                padding: 0 20px;
            }
        
        .toolbar {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #100d1d;
            margin: 0 -14px -20px -14px;

            border-top: 1px solid #312540;
        }

            .active-button {
                border-radius: 0;
                border-bottom: 1px solid #f082b8;
            }

            .toolbar-view,
            .toolbar-history,
            .toolbar-actions {
                display: flex;
                padding: 0 20px;
                gap: 15px;
            }

            .toolbar-view {
                gap: 30px;
            }

            .toolbar-view button {
                font-size: 16px;
            }

            .toolbar-history {
                display: flex;
                gap: 10px;
                margin-left: auto;
                border-right: 1px solid #312540;
                color: #564769;
            }

            .undo,
            .redo {
                padding: 0 8px;
            }

            .toolbar-actions {
                gap: 20px;
            }

            .toolbar-actions button {
                box-shadow: 0 0 2px 1px #312540;
                border-radius: 8px;
            }

        .main {
            display: flex;
            box-shadow: 0 0 2px 1px #312540;
            border-radius: 12px;
            background-color: #100d1d;
        }

            .editor-section,
            .preview-section {
                flex: 1;
                height: 67vh;
                width: 100%;
            }

            .main-split .editor-section {
                border-right: 1px solid #312540;
            }

            #editor,
            .preview-area {
                padding: 20px;
                overflow-y: auto;
                height: 100%;
                width: 100%;
            }

            #editor {
                outline: none;
                border: none;
                resize: none;
                background-color: inherit;
                color: inherit;

                overflow-wrap: break-word;

                font: inherit;
            }

            .preview-area {
                overflow-wrap: anywhere;
                white-space: pre-wrap;
            }

            .preview-area p a:hover {
                color: #ce8ad1;
            }

            .preview-area hr {
                border: 0.5px solid #f082b8;
            }

            .preview-area p {
                white-space: initial;
            }

            .preview-area ul,
            .preview-area ol,
            .preview-area blockquote {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .preview-area blockquote {
                border-left: 3px solid #ce8ad1;
                padding-left: 16px;                
            }

            .preview-area p code {
                padding: 2px;
                border-radius: 5px;
                background-color: #f082b714;
                font: inherit;
            }

            .preview-area pre code span {
                background-color: #161224;
            }


        .footer {
            display: flex;
            align-items: center;

            box-shadow: 0 0 2px 1px #312540;
            border-radius: 12px;
            
            padding: 14px;

            font-size: 13px;
            font-weight: 100;
        }

            .char-counter,
            .row-counter,
            .local-save,
            .last-save,
            .is-all-saved {
                padding: 0 15px;
            }

            .char-counter {
                display: flex;
                align-items: center;
                gap: 8px;
            }

                .char-counter svg {
                    height: 14px;
                    width: 14px;
                    color: transparent;
                }

            .alone-dots-footer {
                color: #564769;

            }

            .last-save {
                margin-left: auto;
                border-right: 1px solid #312540;
            }

            .is-all-saved {
                display: flex;
                align-items: center;
                gap: 5px;
            }

                .is-all-saved svg {
                    height: 10px;
                    width: 10px;
                    color: transparent;
                }