:root {
    --accent: #f082b8;

    --body-bgc: #060612;
    --body-text-color: #d1d0d0;

    --placeholder-color: #757575;

    --app-bgc: #0b0917;
    --borders-color: #312540;

    --borders: 0 0 2px 1px var(--borders-color);

    --containers-bgc: #100d1d;

    --linksHover-and-blockquote: #ce8ad1;

    --successSave-color: #338852;
    --failSave-color: #740000;

    --preview-p-code-bgc: #f082b714;
    --body-image: url('./assets/backgrounds/sakura background.png');
}

.theme-ocean {
    --accent: #4fd1c5;

    --body-bgc: #051012;
    --body-text-color: #d1d0d0;

    --placeholder-color: #757575;

    --app-bgc: #0b181c;
    --borders-color: #1f3a40;

    --borders: 0 0 2px 1px var(--borders-color);

    --containers-bgc: #011822;

    --linksHover-and-blockquote: #38b2ac;

    --successSave-color: #338852;
    --failSave-color: #740000;

    --preview-p-code-bgc: #4fd1c514;
    --body-image: url('./assets/backgrounds/ocean background.png');
}

.theme-moonlight {
    --accent: #b794f6;

    --body-bgc: #040814;
    --body-text-color: #d8d7e6;

    --placeholder-color: #757575;

    --app-bgc: #0a1020;
    --borders-color: #28314f;

    --borders: 0 0 2px 1px var(--borders-color);

    --containers-bgc: #0d1528;

    --linksHover-and-blockquote: #d6bcfa;

    --successSave-color: #338852;
    --failSave-color: #740000;

    --preview-p-code-bgc: #a78bfa14;
    --body-image: url('./assets/backgrounds/moonlight background.png');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1.7% 10%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--body-bgc);
    color: var(--body-text-color);
    font-weight: 200;

    background-image: var(--body-image);
    background-size: cover;
    background-position: center 20%;
    background-attachment: fixed;
}

svg {
    height: 18px;
    width: 18px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px;

    background: none;
    color: inherit;
    font: inherit;
    border: 1px solid transparent;

    transition: 0.2s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

strong {
    font-weight: 600;
}

button:not(:disabled):hover,
.active-button,
.preview-area h2,
.preview-area h3,
.preview-area h4,
.preview-area h5,
.preview-area h6,
.preview-area em,
.preview-area ul li::marker,
.preview-area p a,
.preview-area p code {
    color: var(--accent)
}

    .app {
        opacity: 0.93;
        background-color: var(--app-bgc);
        box-shadow: var(--borders);
        border-radius: 12px;
        padding: 20px 14px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .header {
            display: flex;
            align-items: center;
        }

            .header-title {
                font-size: 24px;
                padding: 0 20px;
                font-weight: 400;
                color: var(--body-text-color);
            }

            .select-theme {
                text-align: end;
                margin-left: auto;
                margin-right: 20px;
                color: var(--accent);
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 20px;
            }
        
        .toolbar {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: var(--containers-bgc);

            box-shadow: var(--borders);
            border-radius: 12px;
        }

            .active-button {
                border-radius: 0;
                border-bottom: 1px solid var(--accent);
            }

            .toolbar-view,
            .toolbar-actions {
                display: flex;
                padding: 0 20px;
                gap: 15px;
            }

            .toolbar-view {
                gap: 30px;
            }

            .toolbar-view button {
                font-size: 16px;
            }

            .toolbar-actions {
                margin-left: auto;
                gap: 20px;
            }

            .toolbar-actions button {
                box-shadow: var(--borders);
                border-radius: 8px;
            }

        .formatting-toolbar {
            background-color: var(--containers-bgc);
            display: flex;
            align-items: center;
            margin: -10px 0;
            box-shadow: var(--borders);
            border-radius: 8px;
            padding: 10px 0;
        }

            .formatting-toolbar button {
                width: 36px;
                height: 36px;
                box-shadow: var(--borders);
                border-radius: 8px;
            }

            .headings,
            .text-formattings,
            .lists,
            .others {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 0 30px;
            }

            .headings,
            .text-formattings,
            .lists {
                border-right: 1px solid var(--borders-color);
            }

        .main {
            display: flex;
            box-shadow:var(--borders);
            border-radius: 12px;
            background-color: var(--containers-bgc);
        }

            .editor-section,
            .preview-section {
                flex: 1;
                height: 60vh;
                width: 100%;
            }

            .main-split .editor-section {
                border-right: 1px solid var(--borders-color);
            }

            #editor,
            .preview-area,
            .preview-area-placeholder {
                padding: 20px;
                overflow-y: auto;
                height: 100%;
                width: 100%;
            }

            #editor {
                outline: none;
                border: none;
                resize: none;
                background-color: inherit;
                color: inherit;

                overflow-wrap: break-word;

                font: inherit;
            }

            .preview-area-placeholder {
                color: var(--placeholder-color); 
            }

            #editor::placeholder {
                color: var(--placeholder-color) !important;
            }

            .preview-area,
            .preview-area-placeholder {
                overflow-wrap: anywhere;
                white-space: pre-wrap;
            }

            .preview-area p a:hover {
                color: var(--linksHover-and-blockquote);
            }

            .preview-area hr {
                border: 0.5px solid var(--accent);
            }

            .preview-area ul,
            .preview-area ol,
            .preview-area blockquote {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .preview-area blockquote {
                border-left: 3px solid var(--linksHover-and-blockquote);
                padding-left: 16px;                
            }

            .preview-area p code {
                padding: 2px 5px;
                border-radius: 5px;
                background-color: var(--preview-p-code-bgc);
                font: inherit;
            }

            .preview-area pre code span,
            .preview-area pre code,
            .preview-area pre div {
                background: transparent !important;
            }

            .preview-area pre div {
                border: none !important;
                box-shadow: var(--borders)
            }


        .footer {
            display: flex;
            align-items: center;

            font-size: 13px;
            font-weight: 100;
        }

            .counter-circle {
                fill: var(--accent);
            }

            .successSave {
                fill: var(--successSave-color);
            }

            .failSave {
                fill: var(--failSave-color);
            }

            .char-counter,
            .row-counter,
            .local-save,
            .last-save,
            .is-all-saved {
                padding: 0 15px;
            }

            .char-counter {
                display: flex;
                align-items: center;
                gap: 8px;
            }

                .char-counter svg {
                    height: 14px;
                    width: 14px;
                    color: transparent;
                }

            .alone-dot-footer {
                color: var(--borders-color);

            }

            .last-save {
                margin-left: auto;
                border-right: 1px solid var(--borders-color);
            }

            .is-all-saved {
                display: flex;
                align-items: center;
                gap: 5px;
            }

                .is-all-saved svg {
                    height: 10px;
                    width: 10px;
                    color: transparent;
                }